@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

p {
  font-family: Product Sans;
  font-size: 25pt;
}

h3 {
  font-family: Product Sans;
}

h2 {
  font-family: Product Sans;
}

.code {
  font-family: Source Code Pro;
}

.b, .bprimary, .bsecondary, .bsuccess, .bdanger, .bwarning, .binfo, .blight, .bdark, .blink, .oprimary, .osecondary, .osuccess, .odanger, .owarning, .oinfo, .olight, .odark, .lgbprimary {
  background-color: white;
  border: none;
  padding: 10px;
  border: transparent solid 1px;
  border-radius: 35px;
  font-size: 12.5pt;
  cursor: pointer;
  font-family: Inter;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #333;
  outline: none;
}

.bprimary {
  color: #f1f1f1;
  background-color: #007bff;
}

.bprimary:hover {
  background-color: #0069d9;
}

.bsecondary {
  color: #f1f1f1;
  background-color: #6c757d;
}

.bsecondary:hover {
  background-color: #5a6268;
}

.bsuccess {
  color: #f1f1f1;
  background-color: #28a745;
}

.bsuccess:hover {
  background-color: #218838;
}

.bdanger {
  color: #f1f1f1;
  background-color: #dc3545;
}

.bdanger:hover {
  background-color: #c82333;
}

.bwarning {
  color: #333;
  background-color: #ffc107;
}

.bwarning:hover {
  background-color: #e0a800;
}

.binfo {
  color: #fff;
  background-color: #17a2b8;
}

.binfo:hover {
  background-color: #138496;
}

.blight {
  color: #333;
  background-color: #e3e3e3;
}

.blight:hover {
  background-color: #d3d3d3;
}

.bdark {
  color: #f1f1f1;
  background-color: #333;
}

.bdark:hover {
  background-color: #1b1b1b;
}

.blink {
  color: blue;
  text-decoration: none;
}

.blink:hover {
  text-decoration: underline;
}

/* outlined buttons */
.oprimary {
  border: #007bff solid 2px;
  color: #007bff;
}

.oprimary:hover {
  color: #f1f1f1;
  background-color: #007bff;
}

.osecondary {
  color: #6c757d;
  border: #6c757d solid 2px;
}

.osecondary:hover {
  color: #f1f1f1;
  background-color: #6c757d;
}

.osuccess {
  color: #28a745;
  border: #28a745 solid 2px;
}

.osuccess:hover {
  color: #f1f1f1;
  background-color: #28a745;
}

.odanger {
  color: #dc3545;
  border: #dc3545 solid 2px;
}

.odanger:hover {
  color: #f1f1f1;
  background-color: #dc3545;
}

.owarning {
  color: #333;
  border: #ffc107 solid 2px;
}

.owarning:hover {
  background-color: #ffc107;
  color: #333;
}

.oinfo {
  color: #17a2b8;
  border: #17a2b8 solid 2px;
}

.oinfo:hover {
  background-color: #17a2b8;
  color: #f1f1f1;
}

.olight {
  color: #333;
  border: #e3e3e3 solid 2px;
}

.olight:hover {
  background-color: #e3e3e3;
}

.odark {
  color: #333;
  border: #333 solid 2px;
}

.odark:hover {
  color: #f1f1f1;
  background-color: #333;
}

.scale:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.scale:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.blg {
  padding: 15px;
  font-size: 15pt;
}

.bsm {
  padding: 10px;
  font-size: 10pt;
}

.lgbprimary {
  background: -webkit-gradient(linear, left top, right top, from(#52a0fd), color-stop(80%, #00e2fa), to(#00e2fa));
  background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
  border: none;
  color: #f1f1f1;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lgbprimary:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(lightblue), color-stop(#add8e6), to(lightgreen));
  background-image: linear-gradient(to left, lightblue, #add8e6, lightgreen);
}

/* LESS BORDER BUTTONS */
.lb {
  border-radius: 5px;
}

.lb1 {
  border-radius: 2.5px;
}

/* SHADOW BUTTONS */
.sha {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.shalg {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.shasm {
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.75);
}
/*# sourceMappingURL=style.css.map */