@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&display=swap');
.code{
    font-family: Source Code Pro;
}
.b {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    font-size:0.95rem;
    border: transparent solid 1px;
    border-radius: 100rem;
    cursor: pointer;
    font-family: Inter;
    transition: 0.2s;
    color: #333;
    outline: none !important;
    text-decoration: none;
    display:inline-block;
    user-select: none;
}
.wbg {
    background-color: white;
}
a.b:hover {
    text-decoration: none;
}   
.bprimary {
    @extend .b;
    color:#f1f1f1;
    background-color:#007bff;
}
.bprimary:hover {
    color: #f1f1f1;
    background-color:#0069d9;
}
.bsecondary {
    @extend .b;
    color:#f1f1f1;
    background-color:#6c757d;
}
.bsecondary:hover {
    color: #f1f1f1;
    background-color:#5a6268;
}
.bsuccess {
    @extend .b;
    color:#f1f1f1;
    background-color:#28a745;
}
.bsuccess:hover {
    color: #f1f1f1;
    background-color:#218838;
}
.bdanger {
    @extend .b;
    color:#f1f1f1;
    background-color:#dc3545;
}
.bdanger:hover {
    color: #f1f1f1;
    background-color:#c82333;
}
.bwarning {
    @extend .b;
    color:#333;
    background-color:#ffc107;
}
.bwarning:hover {
    color: #333;
    background-color:#e0a800
}
.binfo {
    @extend .b;
    color:#f1f1f1;
    background-color:#17a2b8;
}
.binfo:hover {
    color: #f1f1f1;
    background-color:#138496;
}
.blight {
    @extend .b;
    color:#333;
    background-color:#e3e3e3;
}
.blight:hover {
    color: #333;
    background-color:#d3d3d3;
}
.bdark {
    @extend .b;
    color: #f1f1f1;
    background-color: #333;
}
.bdark:hover {
    color: #f1f1f1;
    background-color: #1b1b1b;
}

/* outlined buttons */


.oprimary {
    @extend .b;
    border:#007bff solid 2px;
    color: #007bff;
}
.oprimary:hover {
    color:#f1f1f1;
    background-color:#007bff;
}
.osecondary {
    @extend .b;
    color:#6c757d;
    border:#6c757d solid 2px;
}
.osecondary:hover {
    color: #f1f1f1;
    background-color:#6c757d;
}
.osuccess {
    @extend .b;
    color: #28a745;
    border:#28a745 solid 2px;
}
.osuccess:hover {
    color: #f1f1f1;
    background-color:#28a745;
}
.odanger {
    @extend .b;
    color: #dc3545;
    border:#dc3545 solid 2px;
}
.odanger:hover {
    color:#f1f1f1;
    background-color:#dc3545;
}
.owarning {
    @extend .b;
    color:#333;
    border:#ffc107 solid 2px;
}
.owarning:hover {
    background-color:#ffc107;
    color: #333;
}
.oinfo {
    @extend .b;
    color:#17a2b8;
    border:#17a2b8 solid 2px;
}
.oinfo:hover {
    background-color:#17a2b8;
    color: #f1f1f1;
}
.olight {
    @extend .b;
    color:#333;
    border:#e3e3e3 solid 2px;
}
.olight:hover {
    background-color:#e3e3e3;
}
.odark {
    @extend .b;
    color: #333;
    border: #333 solid 2px;
}
.odark:hover {
    color: #f1f1f1;
    background-color: #333;
}

/* GRADIENT BUTTONS */

.lgbprimary {
    @extend .b;
    background: linear-gradient(
		to right,
		#0083b0,
		#00b4db
	);
    border: none;
    color: #f1f1f1;
}

.lgbprimary:hover {
    background: linear-gradient(
		to left,
		#0083b0,
		#00b4db
	);
    transition: background 1000ms linear;
}
.lgbsecondary {
    @extend .b;
    background: linear-gradient(
        to left,
        #3E5151,
        #DECBA4
    );
    border: none;
    color: #333;
}
.lgbsecondary:hover {
    background: linear-gradient(
        to right,
        #3E5151,
        #DECBA4
    );
}
.lgbsuccess {
    @extend .b;
    background: linear-gradient(
        to right,
        #DCE35B,
        #45B649
    );
    border: none;
}
.lgbsuccess:hover {
    background: linear-gradient(
        to left,
        #DCE35b,
        #45B649
    );
}
.lgbdanger {
    @extend .b;
    background: linear-gradient(
        to right,
        #ff416c,
        #ff4b2b
    );
    border: none;
    color: #fff;
}
.lgbdanger:hover {
    background: linear-gradient(
        to left,
        #ff416c,
        #ff4b2b
    );
}
.lgbwarning {
    @extend .b;
    background: linear-gradient(
        to right,
        #ffc107,
        #f3f9a7   
    );
    border: none;
}
.lgbwarning:hover {
    background: linear-gradient(
        to left,
        #ffc107,
        #f3f9a7   
    );
}
.lgbinfo {
    @extend .b;
    background: linear-gradient(
        to right,
        #06beb6,
        lightblue
    );
    border: none;
}
.lgbinfo:hover {
    background: linear-gradient(
        to left,
        #06beb6,
        lightblue
    );
}
.lgblight {
    @extend .b;
    background: linear-gradient(
        to right,
        #8e9eab,
        #eef2f3
    );
    border: none;
}
.lgblight:hover {
    background: linear-gradient(
        to left,
        #8e9eab,
        #eef2f3
    );
}
.lgbdark {
    @extend .b;
    background: linear-gradient(
        to right, 
        #000000,
        #434343
    );
    border: none;
    color: #fff;
}
.lgbdark:hover {

    background: linear-gradient(
        to left, 
        #000000,
        #434343
    );
    border: none;
}
/* OUTLINED GRADIENT BUTTONS */
.opb {
    border-bottom: 6px #000 solid;
}
.olg {
    @extend .opb;
    @extend .b;
    border: solid 2px transparent;
    box-shadow: 2px 1000px 1px white inset;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
.olg:hover {
    box-shadow: none;
    border: solid 2px transparent;
}
.olgprimary {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
		to right,
		#0083b0,
		#00b4db
	);
    background-origin: border-box;
}
.olgprimary:hover {
    color: #fff;
}
.olgsecondary {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to left,
        #3E5151,
        #DECBA4
    );
    background-origin: border-box;
}
.olgsuccess {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #DCE35B,
        #45B649
    );
    background-origin: border-box;
}
.olgdanger {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #ff416c,
        #ff4b2b
    );
    background-origin: border-box;
}
.olgdanger:hover {
    color: #fff;
}
.olgwarning {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #ffc107,
        #f3f9a7   
    );
    background-origin: border-box;
}
.olginfo {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #06beb6,
        lightblue
    );
    background-origin: border-box;
}
.olglight {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #8e9eab,
        #eef2f3
    );
    background-origin: border-box;
}
.olgdark {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right, 
        #000000,
        #434343
    );
}
.olgdark:hover {
    color: #fff;
}
/* collection of gradient buttons */

.lgbpiggypink {
    @extend .b;
    background: linear-gradient(
        to right,
        #ee9ca7,
        #ffdde1
	);
    border: none;
    color: #333;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.lgbpiggypink:hover {
    background: linear-gradient(
        to left,
        #ee9ca7,
        #ffdde1
	);
}
.lgbpiggypink:active {
    background: linear-gradient(
        to right,
        #ee9ca7,
        #ffdde1
	);
}
.olgpiggypink {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #ee9ca7,
        #ffdde1
    );
    background-origin: border-box;
}
.lgbmegatron {
    @extend .b;
    background: linear-gradient(
        to right,
        #c6ffdd,
        #fbd786,
        #f7797d
	);
    border: none;
    color: #333;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.lgbmegatron:hover {
    background: linear-gradient(
        to left,
        #c6ffdd,
        #fbd786,
        #f7797d
	);
}
.lgbmegatron:active {
    background: linear-gradient(
        to right,
        #c6ffdd,
        #fbd786,
        #f7797d
	);
}
.olgmegatron {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #c6ffdd,
        #fbd786,
        #f7797d
    );
    background-origin: border-box;
}
.lgbeveningsunshine {
    @extend .b;
    background: linear-gradient(
        to right,
        #b92b27,
        #1565c0,
    );
    color: #f1f1f1;
    border: none;
}
.lgbeveningsunshine:hover {
    background: linear-gradient(
        to left,
        #b92b27,
        #1565c0,
    );
}
.lgbeveningsunshine:active {
    background: linear-gradient(
        to right,
        #b92b27,
        #1565c0,
    );
}
.olgeveningsunshine {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #b92b27,
        #1565c0,
    );
    background-origin: border-box;
}
.olgeveningsunshine:hover {
    color: #fff;
}
.lgbendlessriver {
    @extend .b;
    background: linear-gradient(
        to left,
        #43cea2,
        #185a9d, 
    );
    border: none;
    color: #f1f1f1;
}
.lgbendlessriver:hover {
    background: linear-gradient(
        to right,
        #43cea2,
        #185a9d, 
    );
}
.lgbendlessriver:active {
    background: linear-gradient(
        to left,
        #43cea2,
        #185a9d, 
    );
}
.olgendlessriver {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to left,
        #43cea2,
        #185a9d,
    );
    background-origin: border-box;
}
.olgendlessriver:hover {
    color: #fff;
}
.lgblightocean {
    @extend .b;
    background: linear-gradient(
        to left,
        #2980b9,
        #6dd5fa
    );
    border: none;
    color: #333;
}
.lgblightocean:hover {
    background: linear-gradient(
        to right,
        #2980b9,
        #6dd5fa
    );
}
.lgblightocean:active {
    background: linear-gradient(
        to left,
        #2980b9,
        #6dd5fa
    );
}
.olglightocean {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to left,
        #2980b9,
        #6dd5fa,
    );
    background-origin: border-box;
}
.lgbyoda {
    @extend .b;
    background: linear-gradient(
        to left,
        #1f4037,
        #99f2c8
    );
    border: none;
}
.lgbyoda:hover {
    background: linear-gradient(
        to right,
        #1f4037,
        #99f2c8
    );
}
.lgbyoda:active {
    background: linear-gradient(
        to left,
        #1f4037,
        #99f2c8
    );
}
.olgyoda {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to left,
        #1f4037,
        #99f2c8,
    );
    background-origin: border-box;
}
.lgbazurlane {
    @extend .b;
    background: linear-gradient(
        to left,
        #7f7fd5,
        #86a8e7,
        #91eae4
    );
    border: none;
}
.lgbazurlane:hover {
    background: linear-gradient(
        to right,
        #7f7fd5,
        #86a8e7,
        #91eae4
    );
}
.lgbazurlane:active {
    background: linear-gradient(
        to left,
        #7f7fd5,
        #86a8e7,
        #91eae4
    );
}
.olgazurlane {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to left,
        #7f7fd5,
        #86a8e7,
        #91eae4
    );
    background-origin: border-box;
}
.lgbwitchinghour {
    @extend .b;
    background: linear-gradient(
        to left,
        #c31432,
        #240b36,
    );
    border: none;
    color: #f1f1f1;
}
.lgbwitchinghour:hover {
    background: linear-gradient(
        to right,
        #c31432,
        #240b36,
    );
}
.lgbwitchinghour:active {
    background: linear-gradient(
        to left,
        #c31432,
        #240b36,
    );
}
.olgwitchinghour {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to left,
        #c31432,
        #240b36
    );
    background-origin: border-box;
}
.olgwitchinghour:hover {
    color: #fff;
}
.lgbemokid {
    @extend .b;
    background: linear-gradient(
        to right,
        #556270,
        #ff6b6b
    );
    border: none;
    color: #fff;
}
.lgbemokid:hover {
    background: linear-gradient(
        to left,
        #556270,
        #ff6b6b
    );
}
.lgbemokid:active {
    background: linear-gradient(
        to right,
        #556270,
        #ff6b6b,
    );
}
.olgemokid {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #556270,
        #ff6b6b
    );
    background-origin: border-box;
}
.olgemokid:hover {
    color: #fff;
}
.lgbamethyst {
    @extend .b;
    background: linear-gradient(
        to right,
        #9d50bb,
        #6e48aa
    );
    border: none;
    color: #fff;
}
.lgbamethyst:hover {
    background: linear-gradient(
        to left,
        #9d50bb,
        #6e48aa
    );
}
.lgbamethyst:active {
    background: linear-gradient(
        to right,
        #9d50bb,
        #6e48aa
    );
}
.olgamethyst {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #9d50bb,
        #6e48aa
    );
    background-origin: border-box;
}
.olgamethyst:hover {
    color: #fff;
}
.lgbverde {
    @extend .b;
    background: linear-gradient(
        to left,
        #FFE000,
        #799F0C 
    );
    border: none;
}
.lgbverde:hover {
    background: linear-gradient(
        to right,
        #FFE000,
        #799F0C 
    );
}
.lgbverde:active {
    background: linear-gradient(
        to left,
        #FFE000,
        #799F0C 
    );
}
.olgverde {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to left,
        #FFE000,
        #799F0C
    );
    background-origin: border-box;
}
.lgbquepal {
    @extend .b;
    background: linear-gradient(
        to right,
        #11998e,
        #38ef7d
    );
    border: none;
    color: #333;
}
.lgbquepal:hover {
    background: linear-gradient(
        to left,
        #11998e,
        #38ef7d
    );
    border: none;
}
.lgbquepal:active {
    background: linear-gradient(
        to right,
        #11998e,
        #38ef7d
    );
    border: none;
}
.olgquepal {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #11998e,
        #38ef7d
    );
    background-origin: border-box;
}
.lgborangecoral {
    @extend .b;
    background: linear-gradient(
        to right,
        #ff9966,
        #ff5e62
    );
    border: none;
    color: #fff;
}
.lgborangecoral:hover {
    background: linear-gradient(
        to left,
        #ff9966,
        #ff5e62
    );
    border: none;
}
.lgborangecoral:active {
    background: linear-gradient(
        to right,
        #ff9966,
        #ff5e62
    );
    border: none;
}
.olgorangecoral {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #ff9966,
        #ff5e62
    );
    background-origin: border-box;
}
.olgorangecoral:hover {
    color: #fff;
}
.lgbfireboy {
    @extend .b;
    background: linear-gradient(
        to right,
        #FF4E50,
        #F9D423
    );
    border: none;
    color: #fff;
}
.lgbfireboy:hover {
    background: linear-gradient(
        to left,
        #FF4E50,
        #F9D423
    );
    border: none;
}
.lgbfireboy:active {
    background: linear-gradient(
        to right,
        #FF4E50,
        #F9D423
    );
    border: none;
}
.olgfireboy {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #FF4E50,
        #F9D423
    );
    background-origin: border-box;
}
.olgfireboy:hover {
    color: #fff;
}
.lgbparklife {
    @extend .b;
    background: linear-gradient(
        to right,
        #ADD100,
        #7B920A
    );
    border: none;
    color: #fff;
}
.lgbparklife:hover {
    background: linear-gradient(
        to left,
        #ADD100,
        #7B920A
    );
    border: none;
}
.lgbparklife:active {
    background: linear-gradient(
        to right,
        #ADD100,
        #7B920A
    );
    border: none;
}
.olgparklife {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #ADD100,
        #7B920A
    );
    background-origin: border-box;
}
.olgparklife:hover {
    color: #fff;
}
.lgbopa {
    @extend .b;
    background: linear-gradient(
        to right,
        #3D7EAA,
        #FFE47A
    );
    border: none;
    color: #fff;
}
.lgbopa:hover {
    background: linear-gradient(
        to left,
        #3D7EAA,
        #FFE47A
    );
    border: none;
}
.lgbopa:active {
    background: linear-gradient(
        to right,
        #3D7EAA,
        #FFE47A
    );
    border: none;
}
.olgopa {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #3D7EAA,
        #FFE47A
    );
    background-origin: border-box;
}
.olgopa:hover {
    color: #fff;
}
.lgbshockwave {
    @extend .b;
    background: linear-gradient(
        to right,
        #4776E6,
        #8E54E9
    );
    border: none;
    color: #fff;
}
.lgbshockwave:hover {
    background: linear-gradient(
        to left,
        #4776E6,
        #8E54E9
    );
    border: none;
}
.lgbshockwave:active {
    background: linear-gradient(
        to right,
        #4776E6,
        #8E54E9
    );
    border: none;
}
.olgshockwave {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #4776E6,
        #8E54E9
    );
    background-origin: border-box;
}
.olgshockwave:hover {
    color: #fff;
}
.lgbmary {
    @extend .b;
    background: linear-gradient(
        to right,
        #FF512F,
        #8E54E9
    );
    border: none;
    color: #fff;
}
.lgbmary:hover {
    background: linear-gradient(
        to left,
        #FF512F,
        #8E54E9
    );
    border: none;
}
.lgbmary:active {
    background: linear-gradient(
        to right,
        #FF512F,
        #8E54E9
    );
    border: none;
}
.olgmary {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #FF512F,
        #8E54E9
    );
    background-origin: border-box;
}
.olgmary:hover {
    color: #fff;
}
.lgbspaceboy {
    @extend .b;
    background: linear-gradient(to right, #141e30, #243b55);
    border: none;
    color: #fff;
}
.lgbspaceboy:hover {
    background: linear-gradient(
        to left,
        #141e30,
        #243b55
    );
    border: none;
}
.lgbspaceboy:active {
    background: linear-gradient(
        to right,
        #141e30,
        #243b55
    );
    border: none;
}
.olgspaceboy {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #141e30,
        #243b55
    );
    background-origin: border-box;
}
.olgspaceboy:hover {
    color: #fff;
}
.lgbhydrogen {
    @extend .b;
    background: linear-gradient(
        to right,
        #667db6, 
        #0082c8, 
        #0082c8, 
        #667db6
    );
    border: none;
    color: #fff;
}
.lgbhydrogen:hover {
    background: linear-gradient(
        to left,
        #667db6, 
        #0082c8, 
        #0082c8, 
        #667db6
    );
    border: none;
}
.lgbhydrogen:active {
    background: linear-gradient(
        to right,
        #667db6, 
        #0082c8, 
        #0082c8, 
        #667db6
    );
    border: none;
}
.olghydrogen {
    @extend .b;
    @extend .olg;
    background: linear-gradient(
        to right,
        #667db6, 
        #0082c8, 
        #0082c8, 
        #667db6
    );
    background-origin: border-box;
}
.olghydrogen:hover {
    color: #fff;
}
/* push buttons */
.pb {
    @extend .b;
    box-shadow: 0 6px #999;
}

.pb:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.pbprimary {
    @extend .pb;
    color: #f1f1f1;
    background-color: #007bff;
}

.pbprimary:hover {
  color: #f1f1f1;
  background-color: #0069d9;
}

.pbprimary:active {
  color: #f1f1f1;
  background-color: #0069d9;
}

.pbsecondary {
  @extend .pb;
  color: #f1f1f1;
  background-color: #6c757d;
}

.pbsecondary:hover {
  color: #f1f1f1;
  background-color: #5a6268;
}

.pbsecondary:active {
  color: #f1f1f1;
  background-color: #5a6268;
}

.pbsuccess {
  @extend .pb;
  color: #f1f1f1;
  background-color: #28a745;
}

.pbsuccess:hover {
  color: #f1f1f1;
  background-color: #218838;
}

.pbsuccess:active {
  color: #f1f1f1;
  background-color: #218838;
}

.pbdanger {
  @extend .pb;
  color: #f1f1f1;
  background-color: #dc3545;
}

.pbdanger:hover {
  color: #f1f1f1;
  background-color: #c82333;
}

.pbdanger:active {
  color: #f1f1f1;
  background-color: #c82333;
}

.pbwarning {
  @extend .pb;
  color: #333;
  background-color: #ffc107;
}

.pbwarning:hover {
  color: #333;
  background-color: #e0a800;
}

.pbwarning:active {
  color: #333;
  background-color: #e0a800;
}

.pbinfo {
  @extend .pb;
  color: #f1f1f1;
  background-color: #17a2b8;
}

.pbinfo:hover {
  color: #f1f1f1;
  background-color: #138496;
}

.pbinfo:active {
  color: #f1f1f1;
  background-color: #138496;
}

.pblight {
  @extend .pb;
  color: #333;
  background-color: #e3e3e3;
}

.pblight:hover {
  color: #333;
  background-color: #d3d3d3;
}

.pblight:active {
  color: #333;
  background-color: #d3d3d3;
}

.pbdark {
  @extend .pb;
  color: #f1f1f1;
  background-color: #333;
}

.pbdark:hover {
  color: #f1f1f1;
  background-color: #1b1b1b;
}

.pbdark:active {
  color: #f1f1f1;
  background-color: #1b1b1b;
}



/* child classes */
.scale {
    @extend .b;
}
.scale:hover {
    transform: scale(1.15);
}
.scale:active {
    transform: scale(0.9);
}
.blg {
    padding: 15px;
    font-size: 15pt;
}
.bsm {
    padding: 9px;
    font-size: 9pt;
}
.bxsm {
    padding: 7.5px;
    font-size: 7.5pt;
}
.bxlg {
    padding: 17.5px;
    font-size: 17.5pt;
}

/* LESS BORDER BUTTONS */
.lb {
    border-radius: 5px;
}
.lb1 {
    border-radius: 2.5px;
}
/* SHADOW BUTTONS */ 
.sha {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.shalg {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.shasm {
    -webkit-box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.75);
}

/* toggle switches */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100rem;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  transition: .3s;
  border-radius: 100rem;
  box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.75);
}

input:checked + .slider {
  background-color: #6edc5f;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.sprimary {
    @extend .slider;
}
input:checked + .sprimary {
    background-color: #007bff;
}
.ssecondary {
    @extend .slider;
}
input:checked + .ssecondary {
    background-color: #6c757d;
}
.ssuccess {
    @extend .slider;
}
input:checked + .ssuccess {
    background-color: #28a745;
}
.sdanger {
    @extend .slider;
}
input:checked + .sdanger {
    background-color: #dc3545;
}
.swarning {
    @extend .slider;
}
input:checked + .swarning {
    background-color: #ffc107;
}
.sinfo {
    @extend .slider;
}
input:checked + .sinfo {
    background-color: #17a2b8;
}
.slight {
    @extend .slider;
}
input:checked + .slight {
    background-color: #e3e3e3;
}
.sdark {
    @extend .slider;
}
input:checked + .sdark {
    background-color: #333;
}
.vbutton {
    @extend .b;
    background: linear-gradient(
		to right,
		#1de332,
		#1de3da
	);
    border: none;
    color: #333;
}
.vbutton:hover {
    background: linear-gradient(
		to left,
		#1de332,
		#1de3da
	);
    border: none;
    color: #333;
}