@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&display=swap");
.code {
  font-family: Source Code Pro;
}

.b, .bprimary, .bsecondary, .bsuccess, .bdanger, .bwarning, .binfo, .blight, .bdark, .oprimary, .osecondary, .osuccess, .odanger, .owarning, .oinfo, .olight, .odark, .lgbprimary, .lgbsecondary, .lgbsuccess, .lgbdanger, .lgbwarning, .lgbinfo, .lgblight, .lgbdark, .lgbdark:hover, .olgprimary, .olgsecondary, .lgbpiggypink, .lgbmegatron, .lgbeveningsunshine, .lgbendlessriver, .lgblightocean, .lgbyoda, .lgbazurlane, .lgbwitchinghour, .pb, .pbprimary, .pbsecondary, .pbsuccess, .pbdanger, .pbwarning, .pbinfo, .pblight, .pbdark, .scale {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  font-size: 0.95rem;
  border: transparent solid 1px;
  border-radius: 100rem;
  cursor: pointer;
  font-family: Inter;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #333;
  outline: none;
  text-decoration: none;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wbg {
  background-color: white;
}

a.b:hover, a.bprimary:hover, a.bsecondary:hover, a.bsuccess:hover, a.bdanger:hover, a.bwarning:hover, a.binfo:hover, a.blight:hover, a.bdark:hover, a.oprimary:hover, a.osecondary:hover, a.osuccess:hover, a.odanger:hover, a.owarning:hover, a.oinfo:hover, a.olight:hover, a.odark:hover, a.lgbprimary:hover, a.lgbsecondary:hover, a.lgbsuccess:hover, a.lgbdanger:hover, a.lgbwarning:hover, a.lgbinfo:hover, a.lgblight:hover, a.lgbdark:hover, a.olgprimary:hover, a.olgsecondary:hover, a.lgbpiggypink:hover, a.lgbmegatron:hover, a.lgbeveningsunshine:hover, a.lgbendlessriver:hover, a.lgblightocean:hover, a.lgbyoda:hover, a.lgbazurlane:hover, a.lgbwitchinghour:hover, a.pb:hover, a.pbprimary:hover, a.pbsecondary:hover, a.pbsuccess:hover, a.pbdanger:hover, a.pbwarning:hover, a.pbinfo:hover, a.pblight:hover, a.pbdark:hover, a.scale:hover {
  text-decoration: none;
}

.bprimary {
  color: #f1f1f1;
  background-color: #007bff;
}

.bprimary:hover {
  color: #f1f1f1;
  background-color: #0069d9;
}

.bsecondary {
  color: #f1f1f1;
  background-color: #6c757d;
}

.bsecondary:hover {
  color: #f1f1f1;
  background-color: #5a6268;
}

.bsuccess {
  color: #f1f1f1;
  background-color: #28a745;
}

.bsuccess:hover {
  color: #f1f1f1;
  background-color: #218838;
}

.bdanger {
  color: #f1f1f1;
  background-color: #dc3545;
}

.bdanger:hover {
  color: #f1f1f1;
  background-color: #c82333;
}

.bwarning {
  color: #333;
  background-color: #ffc107;
}

.bwarning:hover {
  color: #333;
  background-color: #e0a800;
}

.binfo {
  color: #f1f1f1;
  background-color: #17a2b8;
}

.binfo:hover {
  color: #f1f1f1;
  background-color: #138496;
}

.blight {
  color: #333;
  background-color: #e3e3e3;
}

.blight:hover {
  color: #333;
  background-color: #d3d3d3;
}

.bdark {
  color: #f1f1f1;
  background-color: #333;
}

.bdark:hover {
  color: #f1f1f1;
  background-color: #1b1b1b;
}

/* outlined buttons */
.oprimary {
  border: #007bff solid 2px;
  color: #007bff;
}

.oprimary:hover {
  color: #f1f1f1;
  background-color: #007bff;
}

.osecondary {
  color: #6c757d;
  border: #6c757d solid 2px;
}

.osecondary:hover {
  color: #f1f1f1;
  background-color: #6c757d;
}

.osuccess {
  color: #28a745;
  border: #28a745 solid 2px;
}

.osuccess:hover {
  color: #f1f1f1;
  background-color: #28a745;
}

.odanger {
  color: #dc3545;
  border: #dc3545 solid 2px;
}

.odanger:hover {
  color: #f1f1f1;
  background-color: #dc3545;
}

.owarning {
  color: #333;
  border: #ffc107 solid 2px;
}

.owarning:hover {
  background-color: #ffc107;
  color: #333;
}

.oinfo {
  color: #17a2b8;
  border: #17a2b8 solid 2px;
}

.oinfo:hover {
  background-color: #17a2b8;
  color: #f1f1f1;
}

.olight {
  color: #333;
  border: #e3e3e3 solid 2px;
}

.olight:hover {
  background-color: #e3e3e3;
}

.odark {
  color: #333;
  border: #333 solid 2px;
}

.odark:hover {
  color: #f1f1f1;
  background-color: #333;
}

/* GRADIENT BUTTONS */
.lgbprimary {
  background: -webkit-gradient(linear, left top, right top, from(#0083b0), to(#00b4db));
  background: linear-gradient(to right, #0083b0, #00b4db);
  border: none;
  color: #f1f1f1;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lgbprimary:hover {
  background: -webkit-gradient(linear, right top, left top, from(#0083b0), to(#00b4db));
  background: linear-gradient(to left, #0083b0, #00b4db);
  -webkit-transition: background 1000ms linear;
  transition: background 1000ms linear;
}

.lgbsecondary {
  background: -webkit-gradient(linear, right top, left top, from(#3E5151), to(#DECBA4));
  background: linear-gradient(to left, #3E5151, #DECBA4);
  border: none;
  color: #333;
}

.lgbsecondary:hover {
  background: -webkit-gradient(linear, left top, right top, from(#3E5151), to(#DECBA4));
  background: linear-gradient(to right, #3E5151, #DECBA4);
}

.lgbsuccess {
  background: -webkit-gradient(linear, left top, right top, from(#DCE35B), to(#45B649));
  background: linear-gradient(to right, #DCE35B, #45B649);
  border: none;
}

.lgbsuccess:hover {
  background: -webkit-gradient(linear, right top, left top, from(#DCE35b), to(#45B649));
  background: linear-gradient(to left, #DCE35b, #45B649);
}

.lgbdanger {
  background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  border: none;
  color: #fff;
}

.lgbdanger:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to left, #ff416c, #ff4b2b);
}

.lgbwarning {
  background: -webkit-gradient(linear, left top, right top, from(#ffc107), to(#f3f9a7));
  background: linear-gradient(to right, #ffc107, #f3f9a7);
  border: none;
}

.lgbwarning:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ffc107), to(#f3f9a7));
  background: linear-gradient(to left, #ffc107, #f3f9a7);
}

.lgbinfo {
  background: -webkit-gradient(linear, left top, right top, from(#06beb6), to(lightblue));
  background: linear-gradient(to right, #06beb6, lightblue);
  border: none;
}

.lgbinfo:hover {
  background: -webkit-gradient(linear, right top, left top, from(#06beb6), to(lightblue));
  background: linear-gradient(to left, #06beb6, lightblue);
}

.lgblight {
  background: -webkit-gradient(linear, left top, right top, from(#8e9eab), to(#eef2f3));
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  border: none;
}

.lgblight:hover {
  background: -webkit-gradient(linear, right top, left top, from(#8e9eab), to(#eef2f3));
  background: linear-gradient(to left, #8e9eab, #eef2f3);
}

.lgbdark {
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  border: none;
  color: #fff;
}

.lgbdark:hover {
  background: -webkit-gradient(linear, right top, left top, from(#000000), to(#434343));
  background: linear-gradient(to left, #000000, #434343);
  border: none;
  color: #fff;
}

/* OUTLINED GRADIENT BUTTONS */
.olg, .olgprimary, .olgsecondary {
  border: solid 2px transparent;
  -webkit-box-shadow: 2px 1000px 1px white inset;
          box-shadow: 2px 1000px 1px white inset;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.olg:hover, .olgprimary:hover, .olgsecondary:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 2px transparent;
}

.olgprimary {
  background: -webkit-gradient(linear, left top, right top, from(#021b79), color-stop(25%, #007bff), color-stop(80%, lightblue));
  background: linear-gradient(to right, #021b79, #007bff 25%, lightblue 80%);
  background-origin: border-box;
}

.olgprimary:hover {
  color: #f1f1f1;
  background: -webkit-gradient(linear, left top, right top, from(101deg), color-stop(#021b79), color-stop(#0575e6), to(lightblue));
  background: linear-gradient(to right, 101deg, #021b79, #0575e6, lightblue);
}

.olgsecondary {
  background: -webkit-gradient(linear, left top, right top, from(#ADA996), color-stop(#DBDBDB), to(#EAEAEA));
  background: linear-gradient(to right, #ADA996, #DBDBDB, #EAEAEA);
  background-origin: border-box;
}

.olgsecondary:hover {
  color: #000;
  background: -webkit-gradient(linear, left top, right top, from(101deg), color-stop(#ADA996), color-stop(#DBDBDB), to(#EAEAEA));
  background: linear-gradient(to right, 101deg, #ADA996, #DBDBDB, #EAEAEA);
}

/* collection of gradient buttons */
.lgbpiggypink {
  background: -webkit-gradient(linear, left top, right top, from(#ee9ca7), to(#ffdde1));
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
  border: none;
  color: #333;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lgbpiggypink:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ee9ca7), to(#ffdde1));
  background: linear-gradient(to left, #ee9ca7, #ffdde1);
}

.lgbpiggypink:active {
  background: -webkit-gradient(linear, left top, right top, from(#ee9ca7), to(#ffdde1));
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
}

.lgbmegatron {
  background: -webkit-gradient(linear, left top, right top, from(#c6ffdd), color-stop(#fbd786), to(#f7797d));
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  border: none;
  color: #333;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lgbmegatron:hover {
  background: -webkit-gradient(linear, right top, left top, from(#c6ffdd), color-stop(#fbd786), to(#f7797d));
  background: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
}

.lgbmegatron:active {
  background: -webkit-gradient(linear, left top, right top, from(#c6ffdd), color-stop(#fbd786), to(#f7797d));
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.lgbeveningsunshine {
  background: -webkit-gradient(linear, left top, right top, from(#b92b27), to(#1565c0));
  background: linear-gradient(to right, #b92b27, #1565c0);
  color: #f1f1f1;
  border: none;
}

.lgbeveningsunshine:hover {
  background: -webkit-gradient(linear, right top, left top, from(#b92b27), to(#1565c0));
  background: linear-gradient(to left, #b92b27, #1565c0);
}

.lgbeveningsunshine:active {
  background: -webkit-gradient(linear, left top, right top, from(#b92b27), to(#1565c0));
  background: linear-gradient(to right, #b92b27, #1565c0);
}

.lgbendlessriver {
  background: -webkit-gradient(linear, right top, left top, from(#43cea2), to(#185a9d));
  background: linear-gradient(to left, #43cea2, #185a9d);
  border: none;
  color: #f1f1f1;
}

.lgbendlessriver:hover {
  background: -webkit-gradient(linear, left top, right top, from(#43cea2), to(#185a9d));
  background: linear-gradient(to right, #43cea2, #185a9d);
}

.lgbendlessriver:active {
  background: -webkit-gradient(linear, right top, left top, from(#43cea2), to(#185a9d));
  background: linear-gradient(to left, #43cea2, #185a9d);
}

.lgblightocean {
  background: -webkit-gradient(linear, right top, left top, from(#2980b9), to(#6dd5fa));
  background: linear-gradient(to left, #2980b9, #6dd5fa);
  border: none;
  color: #333;
}

.lgblightocean:hover {
  background: -webkit-gradient(linear, left top, right top, from(#2980b9), to(#6dd5fa));
  background: linear-gradient(to right, #2980b9, #6dd5fa);
}

.lgblightocean:active {
  background: -webkit-gradient(linear, right top, left top, from(#2980b9), to(#6dd5fa));
  background: linear-gradient(to left, #2980b9, #6dd5fa);
}

.lgbyoda {
  background: -webkit-gradient(linear, right top, left top, from(#1f4037), to(#99f2c8));
  background: linear-gradient(to left, #1f4037, #99f2c8);
  border: none;
}

.lgbyoda:hover {
  background: -webkit-gradient(linear, left top, right top, from(#1f4037), to(#99f2c8));
  background: linear-gradient(to right, #1f4037, #99f2c8);
}

.lgbyoda:active {
  background: -webkit-gradient(linear, right top, left top, from(#1f4037), to(#99f2c8));
  background: linear-gradient(to left, #1f4037, #99f2c8);
}

.lgbazurlane {
  background: -webkit-gradient(linear, right top, left top, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4);
  border: none;
}

.lgbazurlane:hover {
  background: -webkit-gradient(linear, left top, right top, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.lgbazurlane:active {
  background: -webkit-gradient(linear, right top, left top, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4);
}

.lgbwitchinghour {
  background: -webkit-gradient(linear, right top, left top, from(#c31432), to(#240b36));
  background: linear-gradient(to left, #c31432, #240b36);
  border: none;
  color: #f1f1f1;
}

.lgbwitchinghour:hover {
  background: -webkit-gradient(linear, left top, right top, from(#c31432), to(#240b36));
  background: linear-gradient(to right, #c31432, #240b36);
}

.lgbwitchinghour:active {
  background: -webkit-gradient(linear, right top, left top, from(#c31432), to(#240b36));
  background: linear-gradient(to left, #c31432, #240b36);
}

/* push buttons */
.pb, .pbprimary, .pbsecondary, .pbsuccess, .pbdanger, .pbwarning, .pbinfo, .pblight, .pbdark {
  -webkit-box-shadow: 0 6px #999;
          box-shadow: 0 6px #999;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pb:active, .pbprimary:active, .pbsecondary:active, .pbsuccess:active, .pbdanger:active, .pbwarning:active, .pbinfo:active, .pblight:active, .pbdark:active {
  -webkit-box-shadow: 0 3px #666;
          box-shadow: 0 3px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.pbprimary {
  color: #f1f1f1;
  background-color: #007bff;
}

.pbprimary:hover {
  color: #f1f1f1;
  background-color: #0069d9;
}

.pbprimary:active {
  color: #f1f1f1;
  background-color: #0069d9;
}

.pbsecondary {
  color: #f1f1f1;
  background-color: #6c757d;
}

.pbsecondary:hover {
  color: #f1f1f1;
  background-color: #5a6268;
}

.pbsecondary:active {
  color: #f1f1f1;
  background-color: #5a6268;
}

.pbsuccess {
  color: #f1f1f1;
  background-color: #28a745;
}

.pbsuccess:hover {
  color: #f1f1f1;
  background-color: #218838;
}

.pbsuccess:active {
  color: #f1f1f1;
  background-color: #218838;
}

.pbdanger {
  color: #f1f1f1;
  background-color: #dc3545;
}

.pbdanger:hover {
  color: #f1f1f1;
  background-color: #c82333;
}

.pbdanger:active {
  color: #f1f1f1;
  background-color: #c82333;
}

.pbwarning {
  color: #333;
  background-color: #ffc107;
}

.pbwarning:hover {
  color: #333;
  background-color: #e0a800;
}

.pbwarning:active {
  color: #333;
  background-color: #e0a800;
}

.pbinfo {
  color: #f1f1f1;
  background-color: #17a2b8;
}

.pbinfo:hover {
  color: #f1f1f1;
  background-color: #138496;
}

.pbinfo:active {
  color: #f1f1f1;
  background-color: #138496;
}

.pblight {
  color: #333;
  background-color: #e3e3e3;
}

.pblight:hover {
  color: #333;
  background-color: #d3d3d3;
}

.pblight:active {
  color: #333;
  background-color: #d3d3d3;
}

.pbdark {
  color: #f1f1f1;
  background-color: #333;
}

.pbdark:hover {
  color: #f1f1f1;
  background-color: #1b1b1b;
}

.pbdark:active {
  color: #f1f1f1;
  background-color: #1b1b1b;
}

/* child classes */
.scale:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.scale:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.blg {
  padding: 15px;
  font-size: 15pt;
}

.bsm {
  padding: 9px;
  font-size: 9pt;
}

.bxsm {
  padding: 7.5px;
  font-size: 7.5pt;
}

.bxlg {
  padding: 17.5px;
  font-size: 17.5pt;
}

/* LESS BORDER BUTTONS */
.lb {
  border-radius: 5px;
}

.lb1 {
  border-radius: 2.5px;
}

/* SHADOW BUTTONS */
.sha {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.shalg {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.shasm {
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.75);
}
/*# sourceMappingURL=style.css.map */