@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.code{
    font-family: Source Code Pro;
}
.b {
    background-color: white;
    border: none;
    padding: 0.5rem;
    font-size:0.95rem;
    border: transparent solid 1px;
    border-radius: 100rem;
    cursor: pointer;
    font-family: Inter;
    transition: 0.2s;
    color: #333;
    outline: none;
    text-decoration: none;
    display:inline-block;
}
a.b:hover {
    text-decoration: none;
}   
.bprimary {
    @extend .b;
    color:#f1f1f1;
    background-color:#007bff;
}
.bprimary:hover {
    color: #f1f1f1;
    background-color:#0069d9;
}
.bsecondary {
    @extend .b;
    color:#f1f1f1;
    background-color:#6c757d;
}
.bsecondary:hover {
    color: #f1f1f1;
    background-color:#5a6268;
}
.bsuccess {
    @extend .b;
    color:#f1f1f1;
    background-color:#28a745;
}
.bsuccess:hover {
    color: #f1f1f1;
    background-color:#218838;
}
.bdanger {
    @extend .b;
    color:#f1f1f1;
    background-color:#dc3545;
}
.bdanger:hover {
    color: #f1f1f1;
    background-color:#c82333;
}
.bwarning {
    @extend .b;
    color:#333;
    background-color:#ffc107;
}
.bwarning:hover {
    color: #333;
    background-color:#e0a800
}
.binfo {
    @extend .b;
    color:#f1f1f1;
    background-color:#17a2b8;
}
.binfo:hover {
    color: #f1f1f1;
    background-color:#138496;
}
.blight {
    @extend .b;
    color:#333;
    background-color:#e3e3e3;
}
.blight:hover {
    color: #333;
    background-color:#d3d3d3;
}
.bdark {
    @extend .b;
    color: #f1f1f1;
    background-color: #333;
}
.bdark:hover {
    color: #f1f1f1;
    background-color: #1b1b1b;
}
.blink {
    @extend .b;
    color: blue;
    text-decoration: none;
}
.blink:hover {
    text-decoration: underline;
}

/* outlined buttons */


.oprimary {
    @extend .b;
    border:#007bff solid 2px;
    color: #007bff;
}
.oprimary:hover {
    color:#f1f1f1;
    background-color:#007bff;
}
.osecondary {
    @extend .b;
    color:#6c757d;
    border:#6c757d solid 2px;
}
.osecondary:hover {
    color: #f1f1f1;
    background-color:#6c757d;
}
.osuccess {
    @extend .b;
    color: #28a745;
    border:#28a745 solid 2px;
}
.osuccess:hover {
    color: #f1f1f1;
    background-color:#28a745;
}
.odanger {
    @extend .b;
    color: #dc3545;
    border:#dc3545 solid 2px;
}
.odanger:hover {
    color:#f1f1f1;
    background-color:#dc3545;
}
.owarning {
    @extend .b;
    color:#333;
    border:#ffc107 solid 2px;
}
.owarning:hover {
    background-color:#ffc107;
    color: #333;
}
.oinfo {
    @extend .b;
    color:#17a2b8;
    border:#17a2b8 solid 2px;
}
.oinfo:hover {
    background-color:#17a2b8;
    color: #f1f1f1;
}
.olight {
    @extend .b;
    color:#333;
    border:#e3e3e3 solid 2px;
}
.olight:hover {
    background-color:#e3e3e3;
}
.odark {
    @extend .b;
    color: #333;
    border: #333 solid 2px;
}
.odark:hover {
    color: #f1f1f1;
    background-color: #333;
}

/* GRADIENT BUTTONS */

.lgbprimary {
    @extend .b;
    background: linear-gradient(
		to right,
		#52a0fd 0%,
		#00e2fa 80%,
		#00e2fa 100%
	);
    border: none;
    color: #f1f1f1;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.lgbprimary:hover {
    background: linear-gradient(
		to left,
		#52a0fd 0%,
		#00e2fa 80%,
		#00e2fa 100%
    );
    transition: background 1000ms linear;
}


/* OUTLINED GRADIENT BUTTONS */
.olg {
    border: solid 2px transparent;
    box-shadow: 2px 1000px 1px white inset;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
.olg:hover {
    box-shadow: none;
    border: solid 2px transparent;
}
.olgprimary {
    @extend .b;
    @extend .olg;
    background: linear-gradient(to right, #021b79, #007bff 25%, lightblue 80%);
    background-origin: border-box;
}
.olgprimary:hover {
    @extend .olg:hover;
    color: #f1f1f1;
    background: linear-gradient(to right, 101deg, #021b79, #0575e6, lightblue);
}
.olgsecondary {
    @extend .b;
    @extend .olg;
    background: linear-gradient(to right, #ADA996, #DBDBDB,#EAEAEA);
    background-origin: border-box;
}   
.olgsecondary:hover {
    @extend .olg:hover;
    color: #000;
    background: linear-gradient(to right, 101deg, #ADA996, #DBDBDB,#EAEAEA);
}

/* collection of gradient buttons */

.lgbpiggypink {
    @extend .b;
    background: linear-gradient(
        to right,
        #ee9ca7,
        #ffdde1
	);
    border: none;
    color: #333;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.lgbpiggypink:hover {
    background: linear-gradient(
        to left,
        #ee9ca7,
        #ffdde1
	);
}
.lgbpiggypink:active {
    background: linear-gradient(
        to right,
        #ee9ca7,
        #ffdde1
	);
}

.lgbmegatron {
    @extend .b;
    background: linear-gradient(
        to right,
        #c6ffdd,
        #fbd786,
        #f7797d
	);
    border: none;
    color: #333;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.lgbmegatron:hover {
    background: linear-gradient(
        to left,
        #c6ffdd,
        #fbd786,
        #f7797d
	);
}
.lgbmegatron:active {
    background: linear-gradient(
        to right,
        #c6ffdd,
        #fbd786,
        #f7797d
	);
}

.lgbeveningsunshine {
    @extend .b;
    background: linear-gradient(
        to right,
        #b92b27,
        #1565c0,
    );
    color: #f1f1f1;
    border: none;
}
.lgbeveningsunshine:hover {
    background: linear-gradient(
        to left,
        #b92b27,
        #1565c0,
    );
}
.lgbeveningsunshine:active {
    background: linear-gradient(
        to right,
        #b92b27,
        #1565c0,
    );
}

.lgbendlessriver {
    @extend .b;
    background: linear-gradient(
        to left,
        #43cea2,
        #185a9d, 
    );
    border: none;
    color: #f1f1f1;
}
.lgbendlessriver:hover {
    background: linear-gradient(
        to right,
        #43cea2,
        #185a9d, 
    );
}
.lgbendlessriver:active {
    background: linear-gradient(
        to left,
        #43cea2,
        #185a9d, 
    );
}

.lgblightocean {
    @extend .b;
    background: linear-gradient(
        to left,
        #2980b9,
        #6dd5fa
    );
    border: none;
    color: #333;
}
.lgblightocean:hover {
    background: linear-gradient(
        to right,
        #2980b9,
        #6dd5fa
    );
}
.lgblightocean:active {
    background: linear-gradient(
        to left,
        #2980b9,
        #6dd5fa
    );
}

.lgbyoda {
    @extend .b;
    background: linear-gradient(
        to left,
        #1f4037,
        #99f2c8
    );
    border: none;
}
.lgbyoda:hover {
    background: linear-gradient(
        to right,
        #1f4037,
        #99f2c8
    );
}
.lgbyoda:active {
    background: linear-gradient(
        to left,
        #1f4037,
        #99f2c8
    );
}

.lgbazurlane {
    @extend .b;
    background: linear-gradient(
        to left,
        #7f7fd5,
        #86a8e7,
        #91eae4
    );
    border: none;
}
.lgbazurlane:hover {
    background: linear-gradient(
        to right,
        #7f7fd5,
        #86a8e7,
        #91eae4
    );
}
.lgbazurlane:active {
    background: linear-gradient(
        to left,
        #7f7fd5,
        #86a8e7,
        #91eae4
    );
}

.lgbwitchinghour {
    @extend .b;
    background: linear-gradient(
        to left,
        #c31432,
        #240b36,
    );
    border: none;
    color: #f1f1f1;
}
.lgbwitchinghour:hover {
    background: linear-gradient(
        to right,
        #c31432,
        #240b36,
    );
}
.lgbwitchinghour:active {
    background: linear-gradient(
        to left,
        #c31432,
        #240b36,
    );
}


/* push buttons */
.pb {
    @extend .b;
    box-shadow: 0 6px #999;
}

.pb:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.pbprimary {
    @extend .pb;
    color: #f1f1f1;
    background-color: #007bff;
}

.pbprimary:hover {
  color: #f1f1f1;
  background-color: #0069d9;
}

.pbprimary:active {
  color: #f1f1f1;
  background-color: #0069d9;
}

.pbsecondary {
  @extend .pb;
  color: #f1f1f1;
  background-color: #6c757d;
}

.pbsecondary:hover {
  color: #f1f1f1;
  background-color: #5a6268;
}

.pbsecondary:active {
  color: #f1f1f1;
  background-color: #5a6268;
}

.pbsuccess {
  @extend .pb;
  color: #f1f1f1;
  background-color: #28a745;
}

.pbsuccess:hover {
  color: #f1f1f1;
  background-color: #218838;
}

.pbsuccess:active {
  color: #f1f1f1;
  background-color: #218838;
}

.pbdanger {
  @extend .pb;
  color: #f1f1f1;
  background-color: #dc3545;
}

.pbdanger:hover {
  color: #f1f1f1;
  background-color: #c82333;
}

.pbdanger:active {
  color: #f1f1f1;
  background-color: #c82333;
}

.pbwarning {
  @extend .pb;
  color: #333;
  background-color: #ffc107;
}

.pbwarning:hover {
  color: #333;
  background-color: #e0a800;
}

.pbwarning:active {
  color: #333;
  background-color: #e0a800;
}

.pbinfo {
  @extend .pb;
  color: #f1f1f1;
  background-color: #17a2b8;
}

.pbinfo:hover {
  color: #f1f1f1;
  background-color: #138496;
}

.pbinfo:active {
  color: #f1f1f1;
  background-color: #138496;
}

.pblight {
  @extend .pb;
  color: #333;
  background-color: #e3e3e3;
}

.pblight:hover {
  color: #333;
  background-color: #d3d3d3;
}

.pblight:active {
  color: #333;
  background-color: #d3d3d3;
}

.pbdark {
  @extend .pb;
  color: #f1f1f1;
  background-color: #333;
}

.pbdark:hover {
  color: #f1f1f1;
  background-color: #1b1b1b;
}

.pbdark:active {
  color: #f1f1f1;
  background-color: #1b1b1b;
}



/* child classes */
.scale {
    @extend .b;
}
.scale:hover {
    transform: scale(1.15);
}
.scale:active {
    transform: scale(0.9);
}
.blg {
    padding: 15px;
    font-size: 15pt;
}
.bsm {
    padding: 9px;
    font-size: 9pt;
}
.bxsm {
    padding: 7.5px;
    font-size: 7.5pt;
}
.bxlg {
    padding: 17.5px;
    font-size: 17.5pt;
}

/* LESS BORDER BUTTONS */
.lb {
    border-radius: 5px;
}
.lb1 {
    border-radius: 2.5px;
}
/* SHADOW BUTTONS */ 
.sha {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.shalg {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.shasm {
    -webkit-box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.75);
}