@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope&display=swap");
.code {
  font-family: Source Code Pro;
}

.b, .bprimary, .bsecondary, .bsuccess, .bdanger, .bwarning, .binfo, .blight, .bdark, .oprimary, .osecondary, .osuccess, .odanger, .owarning, .oinfo, .olight, .odark, .lgbprimary, .lgbsecondary, .lgbsuccess, .lgbdanger, .lgbwarning, .lgbinfo, .lgblight, .lgbdark, .olg, .olgprimary, .olgsecondary, .olgsuccess, .olgdanger, .olgwarning, .olginfo, .olglight, .olgdark, .olgpiggypink, .olgmegatron, .olgeveningsunshine, .olgendlessriver, .olglightocean, .olgyoda, .olgazurlane, .olgwitchinghour, .olgemokid, .olgamethyst, .olgverde, .olgquepal, .olgorangecoral, .olgfireboy, .olgparklife, .olgopa, .olgshockwave, .olgmary, .olgspaceboy, .lgbpiggypink, .lgbmegatron, .lgbeveningsunshine, .lgbendlessriver, .lgblightocean, .lgbyoda, .lgbazurlane, .lgbwitchinghour, .lgbemokid, .lgbamethyst, .lgbverde, .lgbquepal, .lgborangecoral, .lgbfireboy, .lgbparklife, .lgbopa, .lgbshockwave, .lgbmary, .lgbspaceboy, .pb, .pbprimary, .pbsecondary, .pbsuccess, .pbdanger, .pbwarning, .pbinfo, .pblight, .pbdark, .scale, .vbutton {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  font-size: 0.95rem;
  border: transparent solid 1px;
  border-radius: 100rem;
  cursor: pointer;
  font-family: Inter;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #333;
  outline: none !important;
  text-decoration: none;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wbg {
  background-color: white;
}

a.b:hover, a.bprimary:hover, a.bsecondary:hover, a.bsuccess:hover, a.bdanger:hover, a.bwarning:hover, a.binfo:hover, a.blight:hover, a.bdark:hover, a.oprimary:hover, a.osecondary:hover, a.osuccess:hover, a.odanger:hover, a.owarning:hover, a.oinfo:hover, a.olight:hover, a.odark:hover, a.lgbprimary:hover, a.lgbsecondary:hover, a.lgbsuccess:hover, a.lgbdanger:hover, a.lgbwarning:hover, a.lgbinfo:hover, a.lgblight:hover, a.lgbdark:hover, a.olg:hover, a.olgprimary:hover, a.olgsecondary:hover, a.olgsuccess:hover, a.olgdanger:hover, a.olgwarning:hover, a.olginfo:hover, a.olglight:hover, a.olgdark:hover, a.olgpiggypink:hover, a.olgmegatron:hover, a.olgeveningsunshine:hover, a.olgendlessriver:hover, a.olglightocean:hover, a.olgyoda:hover, a.olgazurlane:hover, a.olgwitchinghour:hover, a.olgemokid:hover, a.olgamethyst:hover, a.olgverde:hover, a.olgquepal:hover, a.olgorangecoral:hover, a.olgfireboy:hover, a.olgparklife:hover, a.olgopa:hover, a.olgshockwave:hover, a.olgmary:hover, a.olgspaceboy:hover, a.lgbpiggypink:hover, a.lgbmegatron:hover, a.lgbeveningsunshine:hover, a.lgbendlessriver:hover, a.lgblightocean:hover, a.lgbyoda:hover, a.lgbazurlane:hover, a.lgbwitchinghour:hover, a.lgbemokid:hover, a.lgbamethyst:hover, a.lgbverde:hover, a.lgbquepal:hover, a.lgborangecoral:hover, a.lgbfireboy:hover, a.lgbparklife:hover, a.lgbopa:hover, a.lgbshockwave:hover, a.lgbmary:hover, a.lgbspaceboy:hover, a.pb:hover, a.pbprimary:hover, a.pbsecondary:hover, a.pbsuccess:hover, a.pbdanger:hover, a.pbwarning:hover, a.pbinfo:hover, a.pblight:hover, a.pbdark:hover, a.scale:hover, a.vbutton:hover {
  text-decoration: none;
}

.bprimary {
  color: #f1f1f1;
  background-color: #007bff;
}

.bprimary:hover {
  color: #f1f1f1;
  background-color: #0069d9;
}

.bsecondary {
  color: #f1f1f1;
  background-color: #6c757d;
}

.bsecondary:hover {
  color: #f1f1f1;
  background-color: #5a6268;
}

.bsuccess {
  color: #f1f1f1;
  background-color: #28a745;
}

.bsuccess:hover {
  color: #f1f1f1;
  background-color: #218838;
}

.bdanger {
  color: #f1f1f1;
  background-color: #dc3545;
}

.bdanger:hover {
  color: #f1f1f1;
  background-color: #c82333;
}

.bwarning {
  color: #333;
  background-color: #ffc107;
}

.bwarning:hover {
  color: #333;
  background-color: #e0a800;
}

.binfo {
  color: #f1f1f1;
  background-color: #17a2b8;
}

.binfo:hover {
  color: #f1f1f1;
  background-color: #138496;
}

.blight {
  color: #333;
  background-color: #e3e3e3;
}

.blight:hover {
  color: #333;
  background-color: #d3d3d3;
}

.bdark {
  color: #f1f1f1;
  background-color: #333;
}

.bdark:hover {
  color: #f1f1f1;
  background-color: #1b1b1b;
}

/* outlined buttons */
.oprimary {
  border: #007bff solid 2px;
  color: #007bff;
}

.oprimary:hover {
  color: #f1f1f1;
  background-color: #007bff;
}

.osecondary {
  color: #6c757d;
  border: #6c757d solid 2px;
}

.osecondary:hover {
  color: #f1f1f1;
  background-color: #6c757d;
}

.osuccess {
  color: #28a745;
  border: #28a745 solid 2px;
}

.osuccess:hover {
  color: #f1f1f1;
  background-color: #28a745;
}

.odanger {
  color: #dc3545;
  border: #dc3545 solid 2px;
}

.odanger:hover {
  color: #f1f1f1;
  background-color: #dc3545;
}

.owarning {
  color: #333;
  border: #ffc107 solid 2px;
}

.owarning:hover {
  background-color: #ffc107;
  color: #333;
}

.oinfo {
  color: #17a2b8;
  border: #17a2b8 solid 2px;
}

.oinfo:hover {
  background-color: #17a2b8;
  color: #f1f1f1;
}

.olight {
  color: #333;
  border: #e3e3e3 solid 2px;
}

.olight:hover {
  background-color: #e3e3e3;
}

.odark {
  color: #333;
  border: #333 solid 2px;
}

.odark:hover {
  color: #f1f1f1;
  background-color: #333;
}

/* GRADIENT BUTTONS */
.lgbprimary {
  background: -webkit-gradient(linear, left top, right top, from(#0083b0), to(#00b4db));
  background: linear-gradient(to right, #0083b0, #00b4db);
  border: none;
  color: #f1f1f1;
}

.lgbprimary:hover {
  background: -webkit-gradient(linear, right top, left top, from(#0083b0), to(#00b4db));
  background: linear-gradient(to left, #0083b0, #00b4db);
  -webkit-transition: background 1000ms linear;
  transition: background 1000ms linear;
}

.lgbsecondary {
  background: -webkit-gradient(linear, right top, left top, from(#3E5151), to(#DECBA4));
  background: linear-gradient(to left, #3E5151, #DECBA4);
  border: none;
  color: #333;
}

.lgbsecondary:hover {
  background: -webkit-gradient(linear, left top, right top, from(#3E5151), to(#DECBA4));
  background: linear-gradient(to right, #3E5151, #DECBA4);
}

.lgbsuccess {
  background: -webkit-gradient(linear, left top, right top, from(#DCE35B), to(#45B649));
  background: linear-gradient(to right, #DCE35B, #45B649);
  border: none;
}

.lgbsuccess:hover {
  background: -webkit-gradient(linear, right top, left top, from(#DCE35b), to(#45B649));
  background: linear-gradient(to left, #DCE35b, #45B649);
}

.lgbdanger {
  background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  border: none;
  color: #fff;
}

.lgbdanger:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to left, #ff416c, #ff4b2b);
}

.lgbwarning {
  background: -webkit-gradient(linear, left top, right top, from(#ffc107), to(#f3f9a7));
  background: linear-gradient(to right, #ffc107, #f3f9a7);
  border: none;
}

.lgbwarning:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ffc107), to(#f3f9a7));
  background: linear-gradient(to left, #ffc107, #f3f9a7);
}

.lgbinfo {
  background: -webkit-gradient(linear, left top, right top, from(#06beb6), to(lightblue));
  background: linear-gradient(to right, #06beb6, lightblue);
  border: none;
}

.lgbinfo:hover {
  background: -webkit-gradient(linear, right top, left top, from(#06beb6), to(lightblue));
  background: linear-gradient(to left, #06beb6, lightblue);
}

.lgblight {
  background: -webkit-gradient(linear, left top, right top, from(#8e9eab), to(#eef2f3));
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  border: none;
}

.lgblight:hover {
  background: -webkit-gradient(linear, right top, left top, from(#8e9eab), to(#eef2f3));
  background: linear-gradient(to left, #8e9eab, #eef2f3);
}

.lgbdark {
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  border: none;
  color: #fff;
}

.lgbdark:hover {
  background: -webkit-gradient(linear, right top, left top, from(#000000), to(#434343));
  background: linear-gradient(to left, #000000, #434343);
  border: none;
}

/* OUTLINED GRADIENT BUTTONS */
.opb, .olg, .olgprimary, .olgsecondary, .olgsuccess, .olgdanger, .olgwarning, .olginfo, .olglight, .olgdark, .olgpiggypink, .olgmegatron, .olgeveningsunshine, .olgendlessriver, .olglightocean, .olgyoda, .olgazurlane, .olgwitchinghour, .olgemokid, .olgamethyst, .olgverde, .olgquepal, .olgorangecoral, .olgfireboy, .olgparklife, .olgopa, .olgshockwave, .olgmary, .olgspaceboy {
  border-bottom: 6px #000 solid;
}

.olg, .olgprimary, .olgsecondary, .olgsuccess, .olgdanger, .olgwarning, .olginfo, .olglight, .olgdark, .olgpiggypink, .olgmegatron, .olgeveningsunshine, .olgendlessriver, .olglightocean, .olgyoda, .olgazurlane, .olgwitchinghour, .olgemokid, .olgamethyst, .olgverde, .olgquepal, .olgorangecoral, .olgfireboy, .olgparklife, .olgopa, .olgshockwave, .olgmary, .olgspaceboy {
  border: solid 2px transparent;
  -webkit-box-shadow: 2px 1000px 1px white inset;
          box-shadow: 2px 1000px 1px white inset;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.olg:hover, .olgprimary:hover, .olgsecondary:hover, .olgsuccess:hover, .olgdanger:hover, .olgwarning:hover, .olginfo:hover, .olglight:hover, .olgdark:hover, .olgpiggypink:hover, .olgmegatron:hover, .olgeveningsunshine:hover, .olgendlessriver:hover, .olglightocean:hover, .olgyoda:hover, .olgazurlane:hover, .olgwitchinghour:hover, .olgemokid:hover, .olgamethyst:hover, .olgverde:hover, .olgquepal:hover, .olgorangecoral:hover, .olgfireboy:hover, .olgparklife:hover, .olgopa:hover, .olgshockwave:hover, .olgmary:hover, .olgspaceboy:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 2px transparent;
}

.olgprimary {
  background: -webkit-gradient(linear, left top, right top, from(#0083b0), to(#00b4db));
  background: linear-gradient(to right, #0083b0, #00b4db);
  background-origin: border-box;
}

.olgprimary:hover {
  color: #fff;
}

.olgsecondary {
  background: -webkit-gradient(linear, right top, left top, from(#3E5151), to(#DECBA4));
  background: linear-gradient(to left, #3E5151, #DECBA4);
  background-origin: border-box;
}

.olgsuccess {
  background: -webkit-gradient(linear, left top, right top, from(#DCE35B), to(#45B649));
  background: linear-gradient(to right, #DCE35B, #45B649);
  background-origin: border-box;
}

.olgdanger {
  background: -webkit-gradient(linear, left top, right top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  background-origin: border-box;
}

.olgdanger:hover {
  color: #fff;
}

.olgwarning {
  background: -webkit-gradient(linear, left top, right top, from(#ffc107), to(#f3f9a7));
  background: linear-gradient(to right, #ffc107, #f3f9a7);
  background-origin: border-box;
}

.olginfo {
  background: -webkit-gradient(linear, left top, right top, from(#06beb6), to(lightblue));
  background: linear-gradient(to right, #06beb6, lightblue);
  background-origin: border-box;
}

.olglight {
  background: -webkit-gradient(linear, left top, right top, from(#8e9eab), to(#eef2f3));
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  background-origin: border-box;
}

.olgdark {
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
}

.olgdark:hover {
  color: #fff;
}

/* collection of gradient buttons */
.lgbpiggypink {
  background: -webkit-gradient(linear, left top, right top, from(#ee9ca7), to(#ffdde1));
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
  border: none;
  color: #333;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lgbpiggypink:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ee9ca7), to(#ffdde1));
  background: linear-gradient(to left, #ee9ca7, #ffdde1);
}

.lgbpiggypink:active {
  background: -webkit-gradient(linear, left top, right top, from(#ee9ca7), to(#ffdde1));
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
}

.olgpiggypink {
  background: -webkit-gradient(linear, left top, right top, from(#ee9ca7), to(#ffdde1));
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
  background-origin: border-box;
}

.lgbmegatron {
  background: -webkit-gradient(linear, left top, right top, from(#c6ffdd), color-stop(#fbd786), to(#f7797d));
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  border: none;
  color: #333;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lgbmegatron:hover {
  background: -webkit-gradient(linear, right top, left top, from(#c6ffdd), color-stop(#fbd786), to(#f7797d));
  background: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
}

.lgbmegatron:active {
  background: -webkit-gradient(linear, left top, right top, from(#c6ffdd), color-stop(#fbd786), to(#f7797d));
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.olgmegatron {
  background: -webkit-gradient(linear, left top, right top, from(#c6ffdd), color-stop(#fbd786), to(#f7797d));
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  background-origin: border-box;
}

.lgbeveningsunshine {
  background: -webkit-gradient(linear, left top, right top, from(#b92b27), to(#1565c0));
  background: linear-gradient(to right, #b92b27, #1565c0);
  color: #f1f1f1;
  border: none;
}

.lgbeveningsunshine:hover {
  background: -webkit-gradient(linear, right top, left top, from(#b92b27), to(#1565c0));
  background: linear-gradient(to left, #b92b27, #1565c0);
}

.lgbeveningsunshine:active {
  background: -webkit-gradient(linear, left top, right top, from(#b92b27), to(#1565c0));
  background: linear-gradient(to right, #b92b27, #1565c0);
}

.olgeveningsunshine {
  background: -webkit-gradient(linear, left top, right top, from(#b92b27), to(#1565c0));
  background: linear-gradient(to right, #b92b27, #1565c0);
  background-origin: border-box;
}

.olgeveningsunshine:hover {
  color: #fff;
}

.lgbendlessriver {
  background: -webkit-gradient(linear, right top, left top, from(#43cea2), to(#185a9d));
  background: linear-gradient(to left, #43cea2, #185a9d);
  border: none;
  color: #f1f1f1;
}

.lgbendlessriver:hover {
  background: -webkit-gradient(linear, left top, right top, from(#43cea2), to(#185a9d));
  background: linear-gradient(to right, #43cea2, #185a9d);
}

.lgbendlessriver:active {
  background: -webkit-gradient(linear, right top, left top, from(#43cea2), to(#185a9d));
  background: linear-gradient(to left, #43cea2, #185a9d);
}

.olgendlessriver {
  background: -webkit-gradient(linear, right top, left top, from(#43cea2), to(#185a9d));
  background: linear-gradient(to left, #43cea2, #185a9d);
  background-origin: border-box;
}

.olgendlessriver:hover {
  color: #fff;
}

.lgblightocean {
  background: -webkit-gradient(linear, right top, left top, from(#2980b9), to(#6dd5fa));
  background: linear-gradient(to left, #2980b9, #6dd5fa);
  border: none;
  color: #333;
}

.lgblightocean:hover {
  background: -webkit-gradient(linear, left top, right top, from(#2980b9), to(#6dd5fa));
  background: linear-gradient(to right, #2980b9, #6dd5fa);
}

.lgblightocean:active {
  background: -webkit-gradient(linear, right top, left top, from(#2980b9), to(#6dd5fa));
  background: linear-gradient(to left, #2980b9, #6dd5fa);
}

.olglightocean {
  background: -webkit-gradient(linear, right top, left top, from(#2980b9), to(#6dd5fa));
  background: linear-gradient(to left, #2980b9, #6dd5fa);
  background-origin: border-box;
}

.lgbyoda {
  background: -webkit-gradient(linear, right top, left top, from(#1f4037), to(#99f2c8));
  background: linear-gradient(to left, #1f4037, #99f2c8);
  border: none;
}

.lgbyoda:hover {
  background: -webkit-gradient(linear, left top, right top, from(#1f4037), to(#99f2c8));
  background: linear-gradient(to right, #1f4037, #99f2c8);
}

.lgbyoda:active {
  background: -webkit-gradient(linear, right top, left top, from(#1f4037), to(#99f2c8));
  background: linear-gradient(to left, #1f4037, #99f2c8);
}

.olgyoda {
  background: -webkit-gradient(linear, right top, left top, from(#1f4037), to(#99f2c8));
  background: linear-gradient(to left, #1f4037, #99f2c8);
  background-origin: border-box;
}

.lgbazurlane {
  background: -webkit-gradient(linear, right top, left top, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4);
  border: none;
}

.lgbazurlane:hover {
  background: -webkit-gradient(linear, left top, right top, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.lgbazurlane:active {
  background: -webkit-gradient(linear, right top, left top, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4);
}

.olgazurlane {
  background: -webkit-gradient(linear, right top, left top, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4);
  background-origin: border-box;
}

.lgbwitchinghour {
  background: -webkit-gradient(linear, right top, left top, from(#c31432), to(#240b36));
  background: linear-gradient(to left, #c31432, #240b36);
  border: none;
  color: #f1f1f1;
}

.lgbwitchinghour:hover {
  background: -webkit-gradient(linear, left top, right top, from(#c31432), to(#240b36));
  background: linear-gradient(to right, #c31432, #240b36);
}

.lgbwitchinghour:active {
  background: -webkit-gradient(linear, right top, left top, from(#c31432), to(#240b36));
  background: linear-gradient(to left, #c31432, #240b36);
}

.olgwitchinghour {
  background: -webkit-gradient(linear, right top, left top, from(#c31432), to(#240b36));
  background: linear-gradient(to left, #c31432, #240b36);
  background-origin: border-box;
}

.olgwitchinghour:hover {
  color: #fff;
}

.lgbemokid {
  background: -webkit-gradient(linear, left top, right top, from(#556270), to(#ff6b6b));
  background: linear-gradient(to right, #556270, #ff6b6b);
  border: none;
  color: #fff;
}

.lgbemokid:hover {
  background: -webkit-gradient(linear, right top, left top, from(#556270), to(#ff6b6b));
  background: linear-gradient(to left, #556270, #ff6b6b);
}

.lgbemokid:active {
  background: -webkit-gradient(linear, left top, right top, from(#556270), to(#ff6b6b));
  background: linear-gradient(to right, #556270, #ff6b6b);
}

.olgemokid {
  background: -webkit-gradient(linear, left top, right top, from(#556270), to(#ff6b6b));
  background: linear-gradient(to right, #556270, #ff6b6b);
  background-origin: border-box;
}

.olgemokid:hover {
  color: #fff;
}

.lgbamethyst {
  background: -webkit-gradient(linear, left top, right top, from(#9d50bb), to(#6e48aa));
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  border: none;
  color: #fff;
}

.lgbamethyst:hover {
  background: -webkit-gradient(linear, right top, left top, from(#9d50bb), to(#6e48aa));
  background: linear-gradient(to left, #9d50bb, #6e48aa);
}

.lgbamethyst:active {
  background: -webkit-gradient(linear, left top, right top, from(#9d50bb), to(#6e48aa));
  background: linear-gradient(to right, #9d50bb, #6e48aa);
}

.olgamethyst {
  background: -webkit-gradient(linear, left top, right top, from(#9d50bb), to(#6e48aa));
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  background-origin: border-box;
}

.olgamethyst:hover {
  color: #fff;
}

.lgbverde {
  background: -webkit-gradient(linear, right top, left top, from(#FFE000), to(#799F0C));
  background: linear-gradient(to left, #FFE000, #799F0C);
  border: none;
}

.lgbverde:hover {
  background: -webkit-gradient(linear, left top, right top, from(#FFE000), to(#799F0C));
  background: linear-gradient(to right, #FFE000, #799F0C);
}

.lgbverde:active {
  background: -webkit-gradient(linear, right top, left top, from(#FFE000), to(#799F0C));
  background: linear-gradient(to left, #FFE000, #799F0C);
}

.olgverde {
  background: -webkit-gradient(linear, right top, left top, from(#FFE000), to(#799F0C));
  background: linear-gradient(to left, #FFE000, #799F0C);
  background-origin: border-box;
}

.lgbquepal {
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
  border: none;
  color: #333;
}

.lgbquepal:hover {
  background: -webkit-gradient(linear, right top, left top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to left, #11998e, #38ef7d);
  border: none;
}

.lgbquepal:active {
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
  border: none;
}

.olgquepal {
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
  background-origin: border-box;
}

.lgborangecoral {
  background: -webkit-gradient(linear, left top, right top, from(#ff9966), to(#ff5e62));
  background: linear-gradient(to right, #ff9966, #ff5e62);
  border: none;
  color: #fff;
}

.lgborangecoral:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ff9966), to(#ff5e62));
  background: linear-gradient(to left, #ff9966, #ff5e62);
  border: none;
}

.lgborangecoral:active {
  background: -webkit-gradient(linear, left top, right top, from(#ff9966), to(#ff5e62));
  background: linear-gradient(to right, #ff9966, #ff5e62);
  border: none;
}

.olgorangecoral {
  background: -webkit-gradient(linear, left top, right top, from(#ff9966), to(#ff5e62));
  background: linear-gradient(to right, #ff9966, #ff5e62);
  background-origin: border-box;
}

.olgorangecoral:hover {
  color: #fff;
}

.lgbfireboy {
  background: -webkit-gradient(linear, left top, right top, from(#FF4E50), to(#F9D423));
  background: linear-gradient(to right, #FF4E50, #F9D423);
  border: none;
  color: #fff;
}

.lgbfireboy:hover {
  background: -webkit-gradient(linear, right top, left top, from(#FF4E50), to(#F9D423));
  background: linear-gradient(to left, #FF4E50, #F9D423);
  border: none;
}

.lgbfireboy:active {
  background: -webkit-gradient(linear, left top, right top, from(#FF4E50), to(#F9D423));
  background: linear-gradient(to right, #FF4E50, #F9D423);
  border: none;
}

.olgfireboy {
  background: -webkit-gradient(linear, left top, right top, from(#FF4E50), to(#F9D423));
  background: linear-gradient(to right, #FF4E50, #F9D423);
  background-origin: border-box;
}

.olgfireboy:hover {
  color: #fff;
}

.lgbparklife {
  background: -webkit-gradient(linear, left top, right top, from(#ADD100), to(#7B920A));
  background: linear-gradient(to right, #ADD100, #7B920A);
  border: none;
  color: #fff;
}

.lgbparklife:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ADD100), to(#7B920A));
  background: linear-gradient(to left, #ADD100, #7B920A);
  border: none;
}

.lgbparklife:active {
  background: -webkit-gradient(linear, left top, right top, from(#ADD100), to(#7B920A));
  background: linear-gradient(to right, #ADD100, #7B920A);
  border: none;
}

.olgparklife {
  background: -webkit-gradient(linear, left top, right top, from(#ADD100), to(#7B920A));
  background: linear-gradient(to right, #ADD100, #7B920A);
  background-origin: border-box;
}

.olgparklife:hover {
  color: #fff;
}

.lgbopa {
  background: -webkit-gradient(linear, left top, right top, from(#3D7EAA), to(#FFE47A));
  background: linear-gradient(to right, #3D7EAA, #FFE47A);
  border: none;
  color: #fff;
}

.lgbopa:hover {
  background: -webkit-gradient(linear, right top, left top, from(#3D7EAA), to(#FFE47A));
  background: linear-gradient(to left, #3D7EAA, #FFE47A);
  border: none;
}

.lgbopa:active {
  background: -webkit-gradient(linear, left top, right top, from(#3D7EAA), to(#FFE47A));
  background: linear-gradient(to right, #3D7EAA, #FFE47A);
  border: none;
}

.olgopa {
  background: -webkit-gradient(linear, left top, right top, from(#3D7EAA), to(#FFE47A));
  background: linear-gradient(to right, #3D7EAA, #FFE47A);
  background-origin: border-box;
}

.olgopa:hover {
  color: #fff;
}

.lgbshockwave {
  background: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9));
  background: linear-gradient(to right, #4776E6, #8E54E9);
  border: none;
  color: #fff;
}

.lgbshockwave:hover {
  background: -webkit-gradient(linear, right top, left top, from(#4776E6), to(#8E54E9));
  background: linear-gradient(to left, #4776E6, #8E54E9);
  border: none;
}

.lgbshockwave:active {
  background: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9));
  background: linear-gradient(to right, #4776E6, #8E54E9);
  border: none;
}

.olgshockwave {
  background: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9));
  background: linear-gradient(to right, #4776E6, #8E54E9);
  background-origin: border-box;
}

.olgshockwave:hover {
  color: #fff;
}

.lgbmary {
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#8E54E9));
  background: linear-gradient(to right, #FF512F, #8E54E9);
  border: none;
  color: #fff;
}

.lgbmary:hover {
  background: -webkit-gradient(linear, right top, left top, from(#FF512F), to(#8E54E9));
  background: linear-gradient(to left, #FF512F, #8E54E9);
  border: none;
}

.lgbmary:active {
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#8E54E9));
  background: linear-gradient(to right, #FF512F, #8E54E9);
  border: none;
}

.olgmary {
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#8E54E9));
  background: linear-gradient(to right, #FF512F, #8E54E9);
  background-origin: border-box;
}

.olgmary:hover {
  color: #fff;
}

.lgbspaceboy {
  background: -webkit-gradient(linear, left top, right top, from(#141e30), to(#243b55));
  background: linear-gradient(to right, #141e30, #243b55);
  border: none;
  color: #fff;
}

.lgbspaceboy:hover {
  background: -webkit-gradient(linear, right top, left top, from(#141e30), to(#243b55));
  background: linear-gradient(to left, #141e30, #243b55);
  border: none;
}

.lgbspaceboy:active {
  background: -webkit-gradient(linear, left top, right top, from(#141e30), to(#243b55));
  background: linear-gradient(to right, #141e30, #243b55);
  border: none;
}

.olgspaceboy {
  background: -webkit-gradient(linear, left top, right top, from(#141e30), to(#243b55));
  background: linear-gradient(to right, #141e30, #243b55);
  background-origin: border-box;
}

.olgspaceboy:hover {
  color: #fff;
}

/* push buttons */
.pb, .pbprimary, .pbsecondary, .pbsuccess, .pbdanger, .pbwarning, .pbinfo, .pblight, .pbdark {
  -webkit-box-shadow: 0 6px #999;
          box-shadow: 0 6px #999;
}

.pb:active, .pbprimary:active, .pbsecondary:active, .pbsuccess:active, .pbdanger:active, .pbwarning:active, .pbinfo:active, .pblight:active, .pbdark:active {
  -webkit-box-shadow: 0 3px #666;
          box-shadow: 0 3px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.pbprimary {
  color: #f1f1f1;
  background-color: #007bff;
}

.pbprimary:hover {
  color: #f1f1f1;
  background-color: #0069d9;
}

.pbprimary:active {
  color: #f1f1f1;
  background-color: #0069d9;
}

.pbsecondary {
  color: #f1f1f1;
  background-color: #6c757d;
}

.pbsecondary:hover {
  color: #f1f1f1;
  background-color: #5a6268;
}

.pbsecondary:active {
  color: #f1f1f1;
  background-color: #5a6268;
}

.pbsuccess {
  color: #f1f1f1;
  background-color: #28a745;
}

.pbsuccess:hover {
  color: #f1f1f1;
  background-color: #218838;
}

.pbsuccess:active {
  color: #f1f1f1;
  background-color: #218838;
}

.pbdanger {
  color: #f1f1f1;
  background-color: #dc3545;
}

.pbdanger:hover {
  color: #f1f1f1;
  background-color: #c82333;
}

.pbdanger:active {
  color: #f1f1f1;
  background-color: #c82333;
}

.pbwarning {
  color: #333;
  background-color: #ffc107;
}

.pbwarning:hover {
  color: #333;
  background-color: #e0a800;
}

.pbwarning:active {
  color: #333;
  background-color: #e0a800;
}

.pbinfo {
  color: #f1f1f1;
  background-color: #17a2b8;
}

.pbinfo:hover {
  color: #f1f1f1;
  background-color: #138496;
}

.pbinfo:active {
  color: #f1f1f1;
  background-color: #138496;
}

.pblight {
  color: #333;
  background-color: #e3e3e3;
}

.pblight:hover {
  color: #333;
  background-color: #d3d3d3;
}

.pblight:active {
  color: #333;
  background-color: #d3d3d3;
}

.pbdark {
  color: #f1f1f1;
  background-color: #333;
}

.pbdark:hover {
  color: #f1f1f1;
  background-color: #1b1b1b;
}

.pbdark:active {
  color: #f1f1f1;
  background-color: #1b1b1b;
}

/* child classes */
.scale:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.scale:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.blg {
  padding: 15px;
  font-size: 15pt;
}

.bsm {
  padding: 9px;
  font-size: 9pt;
}

.bxsm {
  padding: 7.5px;
  font-size: 7.5pt;
}

.bxlg {
  padding: 17.5px;
  font-size: 17.5pt;
}

/* LESS BORDER BUTTONS */
.lb {
  border-radius: 5px;
}

.lb1 {
  border-radius: 2.5px;
}

/* SHADOW BUTTONS */
.sha {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.shalg {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.shasm {
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.75);
}

/* toggle switches */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider, .sprimary, .ssecondary, .ssuccess, .sdanger, .swarning, .sinfo, .slight, .sdark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100rem;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before, .sprimary:before, .ssecondary:before, .ssuccess:before, .sdanger:before, .swarning:before, .sinfo:before, .slight:before, .sdark:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 100rem;
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.75);
}

input:checked + .slider, input:checked + .sprimary, input:checked + .ssecondary, input:checked + .ssuccess, input:checked + .sdanger, input:checked + .swarning, input:checked + .sinfo, input:checked + .slight, input:checked + .sdark {
  background-color: #6edc5f;
}

input:checked + .slider:before, input:checked + .sprimary:before, input:checked + .ssecondary:before, input:checked + .ssuccess:before, input:checked + .sdanger:before, input:checked + .swarning:before, input:checked + .sinfo:before, input:checked + .slight:before, input:checked + .sdark:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

input:checked + .sprimary {
  background-color: #007bff;
}

input:checked + .ssecondary {
  background-color: #6c757d;
}

input:checked + .ssuccess {
  background-color: #28a745;
}

input:checked + .sdanger {
  background-color: #dc3545;
}

input:checked + .swarning {
  background-color: #ffc107;
}

input:checked + .sinfo {
  background-color: #17a2b8;
}

input:checked + .slight {
  background-color: #e3e3e3;
}

input:checked + .sdark {
  background-color: #333;
}

.vbutton {
  background: -webkit-gradient(linear, left top, right top, from(#1de332), to(#1de3da));
  background: linear-gradient(to right, #1de332, #1de3da);
  border: none;
  color: #333;
}

.vbutton:hover {
  background: -webkit-gradient(linear, right top, left top, from(#1de332), to(#1de3da));
  background: linear-gradient(to left, #1de332, #1de3da);
  border: none;
  color: #333;
}
/*# sourceMappingURL=style.css.map */